<% @beverages.each do |bev| %>
  <div class="dish_card" id="<%= bev.id %>">
    <%= link_to "#{bev.name}", beverage_path(bev) %> <br />
    Status: <%= I18n.translate(bev.status) %>
    <p> Tags: <%= bev.all_tags %> </p>
    <img src="<%= bev.image %>" alt=" <%= bev.name %> ">
    <% if bev.active? %>
      <%= button_to "Desativar", disable_beverage_path(bev), method: :get %>
    <% elsif bev.inactive? %>  
      <%= button_to "Ativar", enable_beverage_path(bev), method: :get %>
    <% end %>
  </div>
<% end %>

<%= link_to 'Adicionar Bebida', new_beverage_path, class: "add_link" %>