<%= form_with model: @order do |f| %>
  <div>
    <%= f.label :name %> <br />
    <%= f.text_field :name %>
  </div>

  <div>
    <%= f.label :email %> <br />
    <%= f.text_field :email %>
  </div>

  <div>
    <%= f.label :cpf %> (opcional)<br />
    <%= f.text_field :cpf %>
  </div>

  <div>
    <%= f.label :phone_number %> <br />
    <%= f.text_field :phone_number %>
  </div>

  <div>
    <%= f.label :note %> <br />
    <%= f.text_field :note %>
  </div>

  <div>
    Valor total: <%= t('portion_price', price: @total_value) %>
  </div>

  <div class="register_button">
    <%= f.submit "Finalizar" %>
  </div>

<% end %>