<h3>Editar <%= @dish.name %></h3>

<%= form_with model: @dish do |f| %>
  <div>
    <%= f.label :name %> <br />
    <%= f.text_field :name %>
  </div>

  <div>
    <%= f.label :description %> <br />
    <%= f.text_area :description %>
  </div>

  <div>
    <%= f.label :calories %> (opcional)<br />
    <%= f.text_field :calories %>
  </div>

  <div>
    <%= f.label :image %> <br />
    <%= f.text_field :image %>
  </div>

  <div class="register_button">
    <%= f.submit "Editar" %>
  </div>
<% end %>

<%= link_to "Adicionar Porção", new_product_portion_path(@dish.id) %>