<% @dishes.each do |dish| %>
  <div class="dish_card" id="<%= dish.id %>">
    <%= link_to "#{dish.name}", dish_path(dish) %> <br />
    Status: <%= I18n.translate(dish.status) %> <br />
    <p> Tags: <%= dish.all_tags %> </p>
    <img src="<%= dish.image %>" alt=" <%= dish.name %> ">
    <% if dish.active? %>
      <%= button_to "Desativar", disable_dish_path(dish), method: :get %>
    <% elsif dish.inactive? %>  
      <%= button_to "Ativar", enable_dish_path(dish), method: :get %>
    <% end %>
  </div>
<% end %>

<%= link_to 'Adicionar Prato', new_dish_path, class: "add_link" %>