<h2>Resultados:</h2>

<% @dishes.each do |dish| %>
  <div class="dish_card" id="<%= dish.id %>">
    <%= link_to "#{dish.name}", dish_path(dish) %> <br />
    Status: <%= I18n.translate(dish.status) %> <br />
    <p> Tags: <%= dish.all_tags %> </p>
    <img src="<%= dish.image %>" alt=" <%= dish.name %> ">
    <% if dish.active? %>
      <%= button_to "Desativar", disable_dish_path(dish), method: :get %>
    <% elsif dish.inactive? %>  
      <%= button_to "Ativar", enable_dish_path(dish), method: :get %>
    <% end %>
  </div>
<% end %>

<% @beverages.each do |bev| %>
  <div class="dish_card" id="<%= bev.id %>">
    <%= link_to "#{bev.name}", beverage_path(bev) %> <br />
    Status: <%= I18n.translate(bev.status) %>
    <p> Tags: <%= bev.all_tags %> </p>
    <img src="<%= bev.image %>" alt=" <%= bev.name %> ">
    <% if bev.active? %>
      <%= button_to "Desativar", disable_beverage_path(bev), method: :get %>
    <% elsif bev.inactive? %>  
      <%= button_to "Ativar", enable_beverage_path(bev), method: :get %>
    <% end %>
  </div>
<% end %>