<h3>Porções de <%= @product.name %> </h3>

<% @portions.each do |p| %>
  <div id="<%= p.id %>">
    <p> Descrição <%= p.description %> </p>
    <p> Preço: <%= p.price %> </p>
    <%= link_to "Editar Preço", edit_portion_path(p.id) %>
  </div>
<% end %>