<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Paleva" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header>
      <h1> <%= link_to 'Palevá', root_path, class: 'title' %> </h1>
      <%= notice %>
      <%= alert %>
      <nav>
        <% if user_signed_in? %>
          <%= link_to 'Sair', destroy_user_session_path, data: { turbo_method: :delete }, class: "nav_a" %>
          <%= link_to 'Pratos', dishes_path, class: "nav_a"  %>
          <%= link_to 'Bebidas', beverages_path, class: "nav_a"  %>
          <% if current_user.restaurant.present? %>
            <%= link_to 'Detalhes do Restaurante', restaurant_path(current_user.restaurant.id), class: "nav_a"  %>
          <% end %>
          <%= link_to 'Nova Tag', new_tag_path, class: "nav_a"  %>
          <%= link_to 'Novo Cardápio', new_menu_path, class: "nav_a"  %>
          <%= form_with url: search_restaurants_path, class: "search_bar", method: :get do |f| %>
            <%= f.label :query, "Buscar Produtos" %>
            <%= f.text_field :query %>
            <%= f.submit 'Buscar' %>
          <% end %>
        <% else %>
          <div>
            <%= link_to 'Criar conta', new_user_registration_path, class: "nav_a" %>
          </div>
          <div>
            <%= link_to 'Entrar', new_user_session_path, class: "nav_a" %>
          </div>
        <% end %>
      </nav>
    </header>
    <main>
      <% if @order_list %>
        <div id="order_list">
          <h2>Itens do Pedido: </h2>
          <ul>
          <% @order_list.each do |order| %>
            <li>
              <%= order.product.name%> | <%= order.description %>
            </li>
          <% end %>
          </ul>
          <%= link_to "Limpar", "/clear_order" %>
        </div>
      <% end %>
      <%= yield %>
    </main>
  </body>
</html>
